<li class="collection-header"><h6>文本消息<a href="#!" class="secondary-content btn-edit-content"><i class="mdi-editor-border-color"></i></a></h6></li>
<li class="collection-item">{{model.content}}</li>
<li class="collection-header"><h6>关键词<a href="#!" class="secondary-content btn-add-keyword"><i class="mdi-content-add"></i></a></h6></li>
{{#each model.keywords}}
<li class="collection-item">{{this}}<a href="#!" class="secondary-content btn-remove-keyword"><i class="mdi-navigation-close"></i></a></li>
{{/each}}
<li class="collection-header right-align">
  <span title="保存" class="teal-text btn-save" style="{{#if isChanged}}cursor:pointer;{{else}}display:none{{/if}}">保存更新</span>
  <span title="删除" class="grey-text btn-remove" style="cursor:pointer">删除</span>
</li>