{{#with model}}
  <div class="input-field">
    <label {{#empty title}}{{else}}class="active"{{/empty}}>题库名称</label>
    <input type="text" name="title" class="validate" value="{{title}}">
  </div>
  <div class="input-field">
    <label {{#empty ../tags}}{{else}}class="active"{{/empty}}>标签(逗号分割)</label>
    <input type="text" name="tags" class="validate" value="{{../tags}}">
  </div>
{{/with}}
